<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a>

  <h3>Liste des devoirs</h3>
  <p>Nombre de pages : {{totalPages}}, Page courante : {{page}} <br> Nombre de devoirs par page : {{limit}}   </p>
  <br>
  <!-- <div>
 <button mat-flat-button color="secondary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">
    Previous
  </button>
  <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">
    Next
  </button>

  <button mat-flat-button color="secondary" (click)="premierePage()" [disabled]="page===1">
     First Page
   </button>
   <button mat-flat-button color="primary" (click)="dernierPage()" [disabled]="page===totalPages">
     Final Page
   </button>
 </div> -->
 <div>
      <!-- ajout de table material -->
      <table mat-table [dataSource]="assignments" class="mat-elevation-z8" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let assignment"> {{assignment.id}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date de rendu">
          <th mat-header-cell *matHeaderCellDef> date de rendu </th>
          <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="rendu">
          <th mat-header-cell *matHeaderCellDef> rendu </th>
          <td mat-cell *matCellDef="let assignment"> {{assignment.rendu}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
      [length]="totalPages"
      [pageSize]="limit"
      (page)="paginator($event)"
      [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
    </div>


  <mat-list *ngFor="let a of assignments">
    <mat-divider></mat-divider>

    <h3 mat-subheader>{{a.dateDeRendu | date: 'dd/MM/yyyy'}}</h3>
    <nav>
      <a routerLink="/assignments/{{a.id}}">
        <mat-list-item>
          <p *ngIf="a.rendu; else nonrendu" appRendu>
            Le devoir {{a.nom}} est à rendre le :
            {{a.dateDeRendu | date}}.
          </p>

          <ng-template #nonrendu>
            <p appNonrendu>Le devoir {{a.nom}} n'a pas été rendu !</p>
          </ng-template>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>


</main>
